<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us " }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">{{ end }} {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">{{ end }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css"> {{ if .RSSLink -}}
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">{{- end }} {{ .Hugo.Generator }}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/lib.js"></script>
</head>

<body>
    <header>
        <div class="logo"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
        <nav>
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </header>