<article class="post-block" data-source="{{ .Permalink }}">
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <span class="author">by {{ .Params.author }}</span>
    <time>{{ .Date.Format "02-01-2006" }}</time> {{ range .Params.tags }}
    <a href="{{ " /tags/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
    <div>
        <!-- {{ .Summary }} {{ if .Truncated }}-->
        <a href="{{ .Permalink }}">Read more...</a>
        <!--{{ end }}-->
    </div>
</article>
