/*created by Bob Joziasse, 2017*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #676767;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

aside {
    width: 20vw;
}


/*  ---------------
    NAVIGATION
    --------------- */

header {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    min-width: 300px;
    background-color: #868686;
    text-transform: capitalize;
}

header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header ul li {
    padding: 20px 40px;
}

header ul li:hover,
header ul li.selected {
    background-color: #3c3c3c;
    color: #FFFFFF;
}

/*  ---------------
    LOGO
    --------------- */

.logo {
    margin: 20px;
    font-variant: small-caps;
    font-size: 30px;
}

.logo span {
    font-weight: bold;
    color: #0267dd;
}

/*  ---------------
    MAIN
    --------------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.post-grid{
    height: 100%;
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "med-top med-top lrg lrg lrg" "med-top med-top lrg lrg lrg" "med-bot med-bot lrg lrg lrg" "med-bot med-bot sml tll tll" "wde wde wde tll tll" "wde wde wde tll tll";
    grid-gap: 20px;
}

.post-block {
    padding: 10px;
    background-color: #4f87e2;
    color: #FFFFFF;
}

.post-block:nth-child(1) {
    grid-area: med-top;
    background-color: #2a57a0;
}

.post-block:nth-child(2) {
    grid-area: lrg;
    background-color: #488cfa;
}

.post-block:nth-child(3) {
    grid-area: med-bot;
    background-color: #0a2043;
}

.post-block:nth-child(4) {
    grid-area: sml;
    background-color: #04378b;
}

.post-block:nth-child(5) {
    grid-area: wde;
    background-color: #7b9acc;
}

.post-block:nth-child(6) {
    grid-area: tll;
    background-color: #1f74ff;
}


/*  ---------------
    PAGINATION
    --------------- */
.pagination {
    align-self: center;
    margin-top: 20px;   
}