@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #676767;
}


/*  ---------------
    NAVIGATION
    --------------- */

header {
    flex: 1 1 20%;
    min-width: 300px;
    background-color: #868686;
}

header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header ul li {
    padding: 20px 40px;
}

header ul li:hover,
header ul li.selected {
    background-color: #3c3c3c;
    color: #FFFFFF;
}

/*  ---------------
    LOGO
    --------------- */

.logo {
    margin: 20px;
    font-variant: small-caps;
    font-size: 30px;
}

.logo span {
    font-weight: bold;
    color: #0267dd;
}

/*  ---------------
    MAIN
    --------------- */

main {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "med-top med-top lrg lrg lrg" "med-top med-top lrg lrg lrg" "med-bot med-bot lrg lrg lrg" "med-bot med-bot sml tll tll" "wde wde wde tll tll" "wde wde wde tll tll";
    grid-gap: 20px;
}

.post-block {
    padding: 10px;
    background-color: #4f87e2;
    color: #FFFFFF;
}

.post-block:nth-child(1) {
    grid-area: med-top;
}

.post-block:nth-child(2) {
    grid-area: lrg;
}

.post-block:nth-child(3) {
    grid-area: med-bot;
}

.post-block:nth-child(4) {
    grid-area: sml;
}

.post-block:nth-child(5) {
    grid-area: wde;
}

.post-block:nth-child(6) {
    grid-area: tll;
}
