{{ partial "header.html" . }}
	<main>
        <section class="post-grid">
            {{ $paginator := .Paginate (where .Site.Pages "Type" "post") 6 }}
            {{ range $paginator.Pages }}
                {{ partial "summary.html" . }}
            {{ end }}
        </section>
        {{ partial "pagination.html" . }}
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}